<!doctype html> {% load static %}
<html dir="ltr" class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Library</title>
    <meta name="author" content="Angfuzsoft">
    <meta name="description" content="Acadu - Online Courses & Education HTML Template">
    <meta name="keywords" content="Acadu - Online Courses & Education HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.js' %}on">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Jost:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.min.css' %}">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>


    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



    <!--********************************
   		Code Start From Here 
	******************************** -->


    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader ">
        <button class="as-btn style3 preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <span class="loader"></span>
        </div>
    </div>
    
    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="as-menu-wrapper">
        <div class="as-menu-area text-center">
            <button class="as-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><img src="{% static 'assets/img/logo.svg' %}" alt="Acadu"></a>
            </div>
            <div class="as-mobile-menu">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
	Header Area
==============================-->
    <header class="as-header header-layout3">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <p class="header-notice">Kutubxona</p>
                        
                    </div>
                    <div class="col-auto">
                        <div class="header-links">
                            <ul>
                                
                                <li>
                                    <i class="fas fa-user"></i><a href="contact.html">Kirish / Ro'yxatdan o'tish</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <div class="sticky-active">
                <!-- Main Menu Area -->
                <div class="container">
                    <div class="menu-area">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto">
                                <div class="header-logo">
                                    <a href="index.html"><img src="{% static 'assets/img/logo.svg' %}" alt="Acadu"></a>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <nav class="main-menu d-none d-lg-inline-block">
                                            <ul>
                                                <li>
                                                    <a href="index.html">Home</a>
                                                </li>
                                                
                                                <li>
                                                    <a href="contact.html">Contact</a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <button type="button" class="as-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==============================
Hero Area
==============================-->
    <div class="as-hero-wrapper hero-3">
        <div class="container z-index-common">
            <div class="hero-style3">
                <h1 class="hero-title">Eng sara va qiziqarli kitoblar</h1>
                <p class="hero-text">Ilim olish uchun hech qachon kech bo'lmaydi</p>
                <div class="hero-counter-wrap">
                    <div class="hero-counter">
                        <div class="hero-counter_icon">
                            <img src="{% static 'assets/img/icon/hero_counter_1.svg' %}" alt="icon">
                        </div>
                        <div>
                            <h2 class="hero-counter_number"><span class="counter-number">7500</span>+</h2>
                            <span class="hero-counter_text">Kitoblar</span>
                        </div>
                    </div>
                    <div class="hero-counter">
                        <div class="hero-counter_icon">
                            <img src="{% static 'assets/img/icon/hero_counter_2.svg' %}" alt="icon">
                        </div>
                        <div>
                            <h2 class="hero-counter_number"><span class="counter-number">165000</span>+</h2>
                            <span class="hero-counter_text">Talabalar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-img1">
            <img src="{% static 'assets/img/hero/index-library.png' %}" alt="Hero Image">
        </div>
        <div class="hero-shape shape1">
            <img src="{% static 'assets/img/hero/shape_3_1.png' %}" alt="shape">
        </div>
        <div class="hero-shape shape2">
            <img src="{% static 'assets/img/hero/shape_3_2.png' %}" alt="shape">
        </div>
        <div class="hero-shape shape3">
            <img src="{% static 'assets/img/hero/shape_3_3.png' %}" alt="shape">
        </div>
        <div class="hero-shape shape4">
            <img src="{% static 'assets/img/hero/shape_3_4.png' %}" alt="shape">
        </div>
        <div class="hero-shape shape5">
            <img src="{% static 'assets/img/hero/shape_3_5.png' %}" alt="shape">
        </div>
        <div class="hero-shape shape6">
            <img src="{% static 'assets/img/hero/shape_3_6.png' %}" alt="shape">
        </div>
    </div>
    <!--======== / Hero Section ========-->
    <!--==============================
Mockup Area  
==============================-->
    <section class="space">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title">Xodim & Talaba</span>
                <h2 class="sec-title fw-semibold">Nimani qidiryapsiz?</h2>
                <p class="sec-text">Izlanuvchan talabalar uchun</p>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="as-box mb-5 mb-xl-0">
                        <div class="as-box_img">
                            <img src="{% static 'assets/img/normal/vector_1.png' %}" alt="vector">
                        </div>
                        <div class="as-box_content">
                            <h3 class="h4 as-box_title">Bu yerda dars berishni xohlaysizmi?</h3>
                            <p class="as-box_text">O'zingizga mos kitobni tanlang!</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="as-box theme2">
                        <div class="as-box_img">
                            <img src="{% static 'assets/img/normal/vector_2.png' %}" alt="vector">
                        </div>
                        <div class="as-box_content">
                            <h3 class="h4 as-box_title">Yangi narsalarni o'rganmoqchimisiz?</h3>
                            <p class="as-box_text">O'zingizga mos kitobni tanlang!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==============================
About Area  
==============================-->
    <div class="space">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="img-box5">
                        <div class="img1">
                            <img src="{% static 'assets/img/hero/index-about.png' %}" alt="about">
                        </div>
                        <div class="shape">
                            <img src="{% static 'assets/img/normal/about_shape_1.png' %}" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="title-area mb-35">
                        <span class="sub-title">Kutubxona HAQIDA BATAFSIL</span>
                        <h2 class="sec-title fw-semibold">BERUNIY KUTUBXONASI</h2>
                    </div>
                    <p class="mt-n2 mb-25">O'zaro funktsional yadrodan oldin muqobil tarkibni sinergetik tarzda tasavvur qiling, yo'naltirilgan imtiyozlar orqali standartlashtirilgan qiymatni tezda boshqaring. Plug-and-play materiallari bilan yuqori samarali bozorlarni tezda qayta belgilang, mijozlarga yo'naltirilgan yechimlarni professional tarzda egallang.</p>
                    
                </div>
            </div>
        </div>
        <div class="shape-mockup" data-top="0%" data-right="0"><img src="{% static 'assets/img/shape/cloud_3.png' %}" alt="shape"></div>

    </div>
    <!--==============================
Counter Area  
==============================-->
    <section class="bg-theme" data-bg-src="{% static 'assets/img/bg/bg_overlay_2.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xl-3 counter-card-wrap">
                    <div class="counter-card">
                        <h2 class="counter-card_number"><span class="counter-number">3526</span>+</h2>
                        <span class="counter-card_text"><strong>Successflly</strong> Trained</span>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 counter-card-wrap">
                    <div class="counter-card">
                        <h2 class="counter-card_number"><span class="counter-number">12,360</span>+</h2>
                        <span class="counter-card_text"><strong>Classes</strong> Completed</span>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 counter-card-wrap">
                    <div class="counter-card">
                        <h2 class="counter-card_number"><span class="counter-number">97.12</span>+</h2>
                        <span class="counter-card_text"><strong>Satisfaction</strong> Rate</span>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3 counter-card-wrap">
                    <div class="counter-card">
                        <h2 class="counter-card_number"><span class="counter-number">96.22</span>+</h2>
                        <span class="counter-card_text"><strong>Success</strong> Rate</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
Course Area  
==============================-->
    <section class="space gr-bg1">
        <div class="container">
            <div class="row justify-content-center justify-content-xl-between align-items-end">
                <div class="col-xl-5">
                    <div class="title-area text-center text-xl-start">
                        <span class="sub-title">Kitoblar</span>
                        <h2 class="sec-title fw-semibold">Ilim olish uchun</h2>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sec-btn">
                        <div class="tab-menu2 filter-menu-active">
                            <button data-filter="*" class="filter-btn active">Hammasi</button>
                            {% for d in turi %}
                                <button data-filter=".{{d.nomi}}" class="filter-btn">{{d.nomi}}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gy-4 filter-active">
                {% for s in book %}
                    <div class="col-md-6 col-lg-4 col-xxl-3 filter-item {{s.turi.nomi}}">
                        <div class="course-box">
                            <div class="course-img">
                                <img src="{% static 'assets/img/course/course_1_1.jpg' %}" alt="course">
                                <span class="tag">{{s.yil}}</span>
                            </div>
                            <div class="course-content">
                                <div class="course-author">
                                    <div class="author-info">
                                        <img src="{% static 'assets/img/course/author.jpg' %}" alt="author">
                                        <a href="/" class="author-name">{{s.muallif}}</a>
                                    </div>
                                </div>
                                <h3 class="course-title">{{s.nomi}}</h3>
                                <div class="course-meta">
                                    <span><i class="fal fa-file"></i>Lesson 8</span>
                                    <span><i class="fal fa-user"></i>Students 50</span>
                                    <span><i class="fal fa-eye"></i>View: 12K</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!--==============================
Team Area  
==============================-->
    <section class="space">
        <div class="container">
            <div class="row justify-content-center justify-content-xl-between align-items-end">
                <div class="col-xl-8 mb-n2 mb-xl-0">
                    <div class="title-area text-center text-xl-start">
                        <span class="sub-title">INSTRUCTORS & STUDENTS</span>
                        <h2 class="sec-title fw-semibold">Meet Our Expert Teachers</h2>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sec-btn">
                        <a href="" class="as-btn">View All Teachers<i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="row slider-shadow as-carousel" data-slide-show="4" data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2">
                <!-- Single Item -->
                {% for s in autor %}
                    <div class="col-md-6 col-lg-4 col-xxl-3">
                        <div class="team-card">
                            <div class="team-img">
                                <img src="{{s.image.url}}" alt="Team">
                            </div>
                            <div class="team-social">
                                <button class="icon-btn"><i class="fa-solid fa-plus"></i></button>
                                <div class="as-social">
                                    <a target="_blank" href="https://facebook.com/{{s.facebook}}"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="https://t.me/{{s.telegram}}"><i class="fab fa-telegram"></i></a>
                                    <a target="_blank" href="https://instagram.com/{{s.instagram}}"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3 class="team-title"><a href="">{{s.nomi}}</a></h3>
                                <span class="team-desig">Yozuvchi</span>
                            </div>
                            <div class="team-info">
                                <span><i class="fa-light fa-file"></i>6 Kitob</span>
                                <span class="line"></span>
                                <span><i class="fa-light fa-users"></i>25 Talaba</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <!--==============================
	Footer Area
==============================-->
    <footer class="footer-wrapper footer-layout3" data-bg-src="{% static 'assets/img/bg/footer_bg_1.jpg' %}">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="footer-logo">
                            <a href="index.html"><img src="{% static 'assets/img/logo-white3.svg' %}" alt="Acadu"></a>
                        </div>
                    </div>
                    <div class="col-xl-9">
                        <div class="newsletter-wrap">
                            <h5 class="newsletter-title">Subscribe Our Newsletter For Latest Updates</h5>
                            <form action="#" class="newsletter-form">
                                <div class="form-group">
                                    <input type="text" class="form-control style2" placeholder="Enter Your Email">
                                    <i class="fa-thin fa-envelope"></i>
                                </div>
                                <button type="submit" class="as-btn">Subscribe Now<i class="fas fa-arrow-right ms-2"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!--********************************
			Code End  Here 
	******************************** -->


    <!-- Scroll To Top -->
    <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>



    <!--==============================
    All Js File
============================== -->
    <!-- Jquery -->
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Counter Up -->
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <!-- Isotope Filter -->
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <!-- Main Js File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>